<div class="row mt-5">
  <div class="col-md-3 col-sm-6 mt-5">
    <h6>Students</h6>
    <h1>12/A</h1>
    <p class="description">Final year Engineering Student.</p>
  </div>
  <div class="col-md-3 col-sm-6 mt-5">
    <h6>Courses</h6>
    <h1>12/A</h1>
    <p class="description">Final year Engineering Student.</p>
  </div>
  <div class="col-md-3 col-sm-6 mt-5">
    <h6>Students</h6>
    <h1>12/A</h1>
    <p class="description">Final year Engineering Student.</p>
  </div>
  <div class="col-md-3 col-sm-6 mt-5">
    <h6>Students</h6>
    <h1>12/A</h1>
    <p class="description">Final year Engineering Student.</p>
  </div>
</div>
