<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="">Educate</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="mx-auto">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link nav-item-design px-4 py-2" href="">Students</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="">Courses</a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav">
      <!-- <button class="nav-item" type="button"> -->
      <div class="nav-item me-4 cursor">
        <!-- <input type="search" /> -->
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </div>
      <div class="nav-item me-2">
        <p>user</p>
      </div>
      <!-- </button> -->
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Download</a>
        </li>
      </ul>
    </div> -->
  </nav>
</div>
