<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-outline mb-4">
      <label class="form-label" for="registerName" style="margin-left: 0px"
        >Name</label
      >
      <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
      />
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px"></div>
        <div class="form-notch-middle" style="width: 42.4px"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="registerUsername" style="margin-left: 0px"
        >Department</label
      >
      <input
        type="text"
        id="department"
        class="form-control"
        name="department"
        ngModel
        required
      />
      <div class="form-notch">
        <div class="form-notch-leading" style="width: 9px"></div>
        <div class="form-notch-middle" style="width: 66.4px"></div>
        <div class="form-notch-trailing"></div>
      </div>
    </div>

    <label class="form-label" for="Department" style="margin-left: 0px"
      >BirthDate</label
    >
    <app-date-picker (dateChange)="onDateChange($event)"></app-date-picker>

    <div class="form-outline mb-4">
      <div class="radio">
        <label>
          <input type="radio" name="gender" ngModel value="MALE" required />
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="gender" ngModel value="FEMALE" required />
          Female
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalRef.close()"
      >
        Close
      </button>
      <button [disabled]="f.invalid" type="submit" class="btn nav-item-design">
        Add Student
      </button>
    </div>
  </form>
</div>
