<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Subject</th>
      <th scope="col">Code</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grade of gradeDetails">
      <th scope="row"></th>
      <td>{{ grade.course.subject }}</td>
      <td>{{ grade.course.code }}</td>
      <td>{{ grade.score }}</td>
      <td>
        <div class="dropdown-center">
          <button
            class="btn ms-2"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faEllipsis"></fa-icon>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                class="dropdown-item"
                type="button"
                (click)="onUpdateGrade(grade.course.id, grade.student.id)"
                >Update Grade</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                type="button"
                (click)="onDeleteGrade(grade.course.id, grade.student.id)"
                >Delete Grade</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
