<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<app-home-header></app-home-header>

<div class="container home-containers">
  <app-home-dashboard></app-home-dashboard>
</div>

<div class="container mt-5 home-containers">
  <div class="p-4 border-style">
    <fa-icon [icon]="faPerson"></fa-icon>
    <span class="ms-2">{{ currentRoute }}</span>

    <button
      class="btn mb-2 btn-sm nav-item-design float-end"
      (click)="onAdd(currentRoute)"
    >
      Add New {{ currentRoute }}
    </button>
    <app-student-list *ngIf="currentRoute === 'students'"></app-student-list>
    <app-course-list *ngIf="currentRoute === 'courses'"></app-course-list>
  </div>
</div>
