<form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="model"
        ngbDatepicker
        #d="ngbDatepicker"
        (dateSelect)="onDateChange()"
      />
      <button
        class="btn btn-outline-secondjary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      >
        <fa-icon [icon]="faCalendar"></fa-icon>
      </button>
    </div>
  </div>
</form>
